<div class="d-flex justify-content-center" *ngIf="viewState === 'open'">
    <div class="small badge bg-primary me-2"><a routerLink="/todo" class="text-white">Todo App</a></div>
    <div class="small badge bg-primary me-2"><a routerLink="/register" class="text-white">Registration Form
            Sample</a></div>
    <div class="small badge bg-primary me-2"><a routerLink="/shopping" class="text-white">Shopping App</a></div>
    <div class="small badge bg-primary"><a routerLink="/content-projection" class="text-white">content-projection</a></div>

</div>



<div class="position-absolute  top-0 end-0" appOpacityController style="z-index:999">
    <button type="button" class="btn btn-sm bg-transparent p-0 m-0" (click)="toggleMenuState()">
        <span class="fa-stack fa-lg">
            <i class="fa fa-header fa-stack-1x"></i>
            <i class="fa  fa-stack-2x text-danger" [ngClass]=" viewState === 'open' ? 'fa-ban' : ''"></i>
        </span>
    </button>
</div>



<div class="container-fluid">
    <router-outlet></router-outlet>
</div>