
<div class="container">

    <div class="d-flex">
        <div class="w-25">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item"><a routerLink="/todo">Todo App</a></li>
                <li class="list-group-item"><a routerLink="/register">Registration Form</a></li>
                <li class="list-group-item"><a routerLink="/lazyLoad">Sample LazyLoading</a></li>

              </ol>
        </div>
        <div class="w-75">
           
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- <button type="button" class="btn btn-warning mb-2" (click)="showAndHideTodo()">Toggle Todo list</button> -->
<!-- *ngIf="toggleTodoList" -->
 
</div>