<div class="card">
    <div class="card-body" *ngIf="successMessage">
        Successfully registered
    </div>
    <form [formGroup]="registrationForm">
        <div class="card-body">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" formControlName="username">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-primary" (click)="register()">Register</button>
        </div>
    </form>
</div>